root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yaml,yml,json,toml}]
indent_size = 2

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.svelte]
indent_size = 2
